<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

	{% if prediction %}
    <img src="{{img_path}}" height="400px" width="400px">
	<h2> Your doggo is: <i> {{prediction}} </i></h2>
	{% endif %}
</body>
</html>
